<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretty View</title>

    <!--  Bootstrap  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--  Bootstrap  -->

    <!--  Google Fonts  -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!--  Google Fonts  -->

    <!--  css  -->
    <!--  css  -->

    <!--  JavaScript && JQuery  -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--  JavaScript  -->
</head>


<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a href="#head">
            <font style="font: 40pt Lobster">PrettyView</font>
        </a>
    </nav>

    <div style="position: absolute">
        asd
    </div>

    <script src='{{ static_url ("js/smuth_anchor_scrolling.js") }}'></script>
</body>


</html>